.searchBarDiv {
}
.searchBarDiv h1{
	text-align: center;
	border: none;
	padding: 0 4vw 2vh 4vw;
	background: linear-gradient(rgb(184, 216, 5),rgb(133, 133, 133)) bottom /30% 2px;
  	background-repeat: no-repeat;
}
.searchBarDiv form {
	display: flex;
	justify-content: center;
}
.searchBarDiv form input {
	height: 5vh;
	width: 60%;
	margin-right: 10px;

	/* Search icon  ( thanks for image to ---> Search icon by Icons8)*/ 
	padding-left: 35px;
	background: url("../../../assets/images/searchIcon.png");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 1% 50%;
}

.searchBarDiv form button {
	width: 20%;
}