.cardArticle {
	height: 45vh;
	border: 1px solid rgb(168, 255, 117);
	text-align: center;
	margin: 10px;
}

.cardArticle:hover {
	background-color: rgba(168, 255, 117, 0.05)
}

.imgDiv {
	height: 50%;
	width: 100%;
	margin: 10% 0;
}

.imgDiv img {
	height: 20vh;
	object-fit: contain;
	overflow: hidden;
}

.cardArticle img:hover {
	cursor: pointer;
}