.loadingMain {
	width: 40%;
    height:40%;
    position: fixed;
    margin: auto;
    inset: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadingMain h1,
.loadingMain h2 {
    text-align: center;
}

.loadingMain .loading {
    margin-inline: auto;
}
.loading {
    --height: 10px;
    --loader-color: blue;
    --animation-duration: 0.5s;
}
@keyframes bounce {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-75%);
    }
}
.loading {
    --height: 30px;
    --loader-color: black;
    --animation-duration: 0.5s;
    display: flex;
    align-items: flex-end;
    gap: calc(var(--height) / 4);
    height: calc(var(--height) * 1.75);
    width: max-content;
}
.loading:before,
.loading:after {
    content: "";
}
.loading > div,
.loading:before,
.loading:after {
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--loader-color);
    animation: bounce var(--animation-duration) ease-in-out infinite alternate;
}
.loading:after {
    animation-delay: calc(var(--animation-duration) / 2);
}
.loading > div {
    animation-delay: calc(var(--animation-duration) / 4);
}