/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svgButton {
  width: 2.5em;
	height: 2.5em;
  background-color: transparent;
  border: none;
}
.svgButton:hover {
  cursor: pointer;
}

.svgIcon {
	width: 2em;
	height: 2em;
  }
  
  .svgIcon path,
  .svgIcon polygon,
  .svgIcon rect {
	fill: #4691f6;
  }
  
  .svgIcon circle {
	stroke: #4691f6;
	stroke-width: 1;
  }