/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svgIcon {
	width: 4em;
	height: 4em;
  }
  
  .svgIcon path,
  .svgIcon polygon,
  .svgIcon rect {
	fill: #000000;
  }
  
  .svgIcon circle {
	stroke: #4691f6;
	stroke-width: 1;
  }