.cartMainDiv {
	display: flex;
	width: 100%;
}
.cartMainDiv ul {
	list-style: none;
}
.main { 
	width: 70%;
}
.main > h1, 
	.summaryDiv > h1 {
		padding-bottom: 1vh;
		border-bottom: 1px solid rgb(152, 165, 152);
}
.summaryDiv {
	padding-left: 4vw;
	width: 20%;
}
.summaryDiv > div {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.totalDiv {
	border-top: 1px solid rgb(152, 165, 152);
	font-size: 1.2rem;
}
.totalDiv > p:last-child {
	font-weight: 700;
}
.toCheckout {
	width: 100%;
}