.main {
	display: flex;
	padding-bottom: 4vh;
	margin-bottom: 4vh;
	background: linear-gradient(rgb(152, 165, 152),rgb(133, 133, 133)) bottom /85% 1px;
  	background-repeat: no-repeat;
}
.main > div {
	width: 50%;
}
.rating, .price {
	width: 30%;
	padding-bottom: 2vh;
	border-bottom: 1px solid rgb(152, 165, 152);
}
.price {
	font-size: 2rem;
}
.description {
	padding: 2vh 1vw;
	margin-top: 0;
	margin-bottom: 4vh;
	background: linear-gradient(rgb(152, 165, 152),rgb(133, 133, 133)) bottom /50% 1px;
  	background-repeat: no-repeat;
}
.cartDiv{
	display: flex;
	align-items: center;
	justify-content: center;
}
.changeAmountBtns {
	display: flex;
	align-items: center;
	justify-content: center;
}
.changeAmountBtns button {
	width: 2vw;
}
.changeAmountBtns p {
	margin: 10px;
}
.cartBtn{
	width: 8vw;
}