.Tagline {
	text-align: center;
	position: relative;
	top: 20vh;
}
.Tagline h1 {
	color: rgb(168, 255, 117);
	font-size: 3.5em;
}
.Tagline p{
	position: relative;
	top: 7vh;
	color: rgba(168, 255, 117, 0.91);
	border: none;
	padding: 0 4vw 6vh 4vw;
	background: linear-gradient(rgb(168, 255, 117),rgb(133, 133, 133)) bottom /40% 2px;
  	background-repeat: no-repeat;
	font-weight: 600;
	font-size: 1.5em;
}

.Tagline h1, .Tagline p {
	filter: drop-shadow(-2px 1px 2px rgb(0, 0, 0));
}