.headerDiv {
	/* Position settings */
	position: sticky;
	top: 0;
	align-self: start;
	z-index: 10;
	max-width: 100%;
}
.header {
	display: grid;
	grid-template: 1fr/ 1fr 75% 1fr 1fr;
	justify-items: center;
	align-items: center;
	background-color: rgba(168, 255, 117, 0.76);
	color: black;
	max-width: 100%;
}
.dropDown{
	position: absolute;
	width: 10vw;
	right: 0;
	text-align: center;
	background-color: rgba(168, 255, 117, 0.76);;
}
.dropDown button {
	background-color: transparent;
	border: none;
	width: 100%;
	padding: 1vh 0;
}
.dropDown button:hover {
	cursor: pointer;
}
.NavBar {
	list-style: none;
	display: flex;
	}
	.NavBar a, a:visited {
	color: inherit;
	text-decoration: none;
	}
	.NavBar a:hover {
	filter: drop-shadow(1px 1px 2px black);
	}
	.NavBar li {
	border: none;
	padding: 0 4vw;
	background: linear-gradient(rgb(0, 0, 0),rgb(66, 66, 66)) right/2px 60%;
  	background-repeat: no-repeat;
	font-size: 20px;
	font-weight: 300;
	}
	.NavBar li:last-child {
	background: none;
}
.svgButton {
	width: 2.5em;
	height: 2.5em;
	background-color: transparent;
	border: none;
	transition: transform .2s;
  }
  .svgButton:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 2px rgb(129, 129, 129));
	transform: scale(1.1);
  }
  
  .svgIcon {
	  width: 2em;
	  height: 2em;
	}
	
	.svgIcon path,
	.svgIcon polygon,
	.svgIcon rect {
	  fill: #000000;
	}
	
	.svgIcon circle {
	  stroke: #4691f6;
	  stroke-width: 1;
}
@media only screen and (max-width: 575px){
	.header {
		grid-template: 1fr/ 1fr 1fr 1fr;
	}
	.dropDown {
		width: 100%;
	}
}