.NavBar {
	list-style: none;
	display: flex;
}
.NavBar a, a:visited {
	color: inherit;
	text-decoration: none;
}
.NavBar a:hover {
	filter: drop-shadow(1px 1px 2px black);
}
.NavBar li {
	border: none;
	padding: 0 4vw;
	background: linear-gradient(rgb(0, 0, 0),rgb(66, 66, 66)) right/2px 60%;
  	background-repeat: no-repeat;
	font-size: 20px;
	font-weight: 300;
}
.NavBar li:last-child {
	background: none;
}