.NavBar {
	list-style: none;
	color: rgb(158, 158, 158);
	display: flex;
}
.NavBar li {
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	background: linear-gradient(rgb(178, 168, 168),rgb(158, 158, 158)) right/2px 60%;
  	background-repeat: no-repeat;
}
.NavBar li:last-child {
	background: none;
}