.searchBarDiv {
	height: 37vh;
}
.searchBarDiv h1{
	text-align: center;
	border: none;
	padding: 8vh 4vw 4vh 4vw;
	margin-top: 0;
	margin-bottom: 4vh;
	background: linear-gradient(rgb(212, 253, 188),rgb(133, 133, 133)) bottom /30% 2px;
  	background-repeat: no-repeat;
}
.searchBarDiv form {
	display: flex;
	justify-content: center;
}
.searchBarDiv form button, input {
	border: 2px solid;
}
.searchBarDiv form input {
	height: 5vh;
	width: 60%;
	margin-right: 10px;
	border-color:rgb(168, 255, 117);
	outline: none;
	/* Search icon  ( thanks for image to ---> Search icon by Icons8)*/ 
	padding-left: 35px;
	background: url("../../../assets/images/searchIcon.png");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 1% 50%;
}
.searchBarDiv form input::-webkit-search-cancel-button {
	-webkit-appearance: none; /* remove clear button on input */
}
.productDiv {
	width: 100%;
}