.main {
	text-align: center;
}
.main form {
	display: flex;
	flex-direction: column;
	align-items:center;
}
.main form input {
	width: 40%;
	height: 4vh;
	margin: 1vh;
}
.main form textarea {
	width: 60%;
	height: 20vh;
	margin: 1vh;
}
.main button {
	margin-top: 1vh;
}